# SERVICE PORTS
GATEWAY_PORT=8080
PORT=8090

# .NET Defaults
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:5170

# USERMANAGEMENT - Postgres
USER_DB_HOST=postgres-users
USER_DB_PORT=5432
USER_DB_NAME=users_db
USER_DB_USER=postgres
USER_DB_PASSWORD=CHANGE_ME

# GHOSTAI - Postgres
GHOSTAI_POSTGRES_USER=ghostai_user
GHOSTAI_POSTGRES_PASSWORD=CHANGE_ME
GHOSTAI_POSTGRES_DB=ghostai

# JOURNAL - Postgres
JOURNAL_POSTGRES_HOST=journal_db
JOURNAL_POSTGRES_PORT=5432
JOURNAL_POSTGRES_USER=postgres
JOURNAL_POSTGRES_PASSWORD=CHANGE_ME
JOURNAL_POSTGRES_DB=journal_db

# SHOP - Postgres
SHOP_POSTGRES_HOST=shop_db
SHOP_POSTGRES_PORT=5432
SHOP_POSTGRES_USER=postgres
SHOP_POSTGRES_PASSWORD=CHANGE_ME
SHOP_POSTGRES_DB=shop_service

# GHOST - Postgres
GHOST_POSTGRES_HOST=ghost_postgres
GHOST_POSTGRES_PORT=5432
GHOST_POSTGRES_USER=ghost_user
GHOST_POSTGRES_PASSWORD=CHANGE_ME
GHOST_POSTGRES_DB=ghostHuntersDB

# LOCATION - Redis
LOCATION_REDIS_HOST=redis
LOCATION_REDIS_PORT=6379
LOCATION_REDIS_PASSWORD=CHANGE_ME

# MAP - Postgres
MAP_DB_PORT=5432
MAP_DB_NAME=mapdb
MAP_DB_USER=postgres
MAP_DB_PASSWORD=CHANGE_ME

# LOBBY - Postgres
LOBBY_DB_NAME=LobbyDb
LOBBY_DB_USER=postgres
LOBBY_DB_PASSWORD=CHANGE_ME
LOBBY_DB_PORT=5432

# CHAT - MySQL
CHAT_MYSQL_DATABASE=ghosthunters_chat
CHAT_MYSQL_USER=app
CHAT_MYSQL_PASSWORD=CHANGE_ME
CHAT_MYSQL_ROOT_PASSWORD=CHANGE_ME
CHAT_SEED_TOKEN=CHANGE_ME

# INVENTORY - MySQL
MYSQL_DATABASE=ghosthunters
MYSQL_USER=app
MYSQL_PASSWORD=CHANGE_ME
MYSQL_ROOT_PASSWORD=CHANGE_ME
SEED_TOKEN=CHANGE_ME

# SERVICE DISCOVERY
EUREKA_URL=http://discovery:8761/eureka/
APP_NAME=gateway
SERVICE_HOSTNAME=api-gateway

# DATA WAREHOUSE
WAREHOUSE_DB=warehouse_db
WAREHOUSE_USER=warehouse_user
WAREHOUSE_PASSWORD=CHANGE_ME
WAREHOUSE_URL=postgresql://warehouse_user:CHANGE_ME@warehouse-db:5432/warehouse_db
DW_ETL_INTERVAL_SECONDS=60
